<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Contact")}</%block>

<section class="static-container contact">
<h1>${_("Contact")}</h1>
<p>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contact Us</h2>
                <h3 class="section-subheading text-muted">We are online.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                    <ul class="list-inline">

        <li class="btn-social btn-outline"><a href="mailto:hello@cloudgeni.us" target="_blank"><i class="fa fa-envelope-o fa-5x"></i></a>
        </li>
        <li class="btn-social btn-outline"><a href="http://www.facebook.com/beacloudgenius" target="_blank"><i class="fa fa-facebook fa-5x"></i></a>
        </li>
        <li class="btn-social btn-outline"><a href="http://www.instagram.com/beacloudgenius" target="_blank"><i class="fa fa-instagram fa-5x"></i></a>
        </li>
        <li class="btn-social btn-outline"><a href="https://www.youtube.com/channel/UCvygomQdqFv_p0c00EYufPA" target="_blank"><i class="fa fa-youtube fa-5x"></i></a>
        </li>
        <li class="btn-social btn-outline"><a href="http://www.twitter.com/beacloudgenius" target="_blank"><i class="fa fa-twitter fa-5x"></i></a>
        </li>
        <li class="btn-social btn-outline"><a href="https://plus.google.com/+NileshLondheHere/photos" target="_blank"><i class="fa fa-google-plus fa-5x"></i></a>
        </li>
        <li class="btn-social btn-outline"><a href="https://www.linkedin.com/edu/alumni?name=Cloud+Genius" target="_blank"><i class="fa fa-linkedin fa-5x"></i></a>
        </li>
        <li class="btn-social btn-outline"><a href="https://www.meetup.com/cloudgenius" target="_blank"><i class="fa fa-users fa-5x"></i></a>
        </li>

                    </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Visit Us</h2>
                <iframe src="https://www.google.com/maps/d/embed?mid=zjKPzVyMj4M0.k_Sz6e-4UTD0" width="1052" height="580"></iframe>
            </div>
        </div>        
    </div>
</p>
</section>
