<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Contact")}</%block>

<section class="static-container contact">
<h1>${_("Contact")}</h1>
<p>
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Need help?</h2>
                <script type="text/javascript" src="http://assets.freshdesk.com/widget/freshwidget.js"></script>
                <style type="text/css" media="screen, projection">
                    .btn-primary {
                        background-image: -webkit-linear-gradient(center top,#00AFF0,#00AFF0); !important; /* For Safari 5.1 to 6.0 */ 
                        background-image: -o-linear-gradient(center top,#00AFF0,#00AFF0); !important; /* For Opera 11.1 to 12.0 */
                        background-image: -moz-linear-gradient(center top,#00AFF0,#00AFF0); !important; /* For Firefox 3.6 to 15 */
                        background-image: linear-gradient(center top,#00AFF0,#00AFF0); !important; /* Standard syntax */
                    }
                    .copyright {
                        display: none; !important
                    }
                </style>
                <iframe class="freshwidget-embedded-form" id="freshwidget-embedded-form" src="http://cloudgenius.freshdesk.com/widgets/feedback_widget/new?&widgetType=embedded&formTitle=How+may+we+help+you%3F&submitThanks=Thank+you+for+your+message.&screenshot=no" scrolling="no" height="500px" width="100%" frameborder="0" >
                </iframe>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Contact Us</h2>
                <h3 class="section-subheading text-muted">We are online.</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 text-center">
                    <ul class="list-inline">
                    <li class="btn-social btn-outline"><a href="mailto:hello@cloudgeni.us" target="_blank"><i class="fa fa-envelope-o fa-5x"></i></a>
                    </li>
                    <li class="btn-social btn-outline"><a href="http://www.facebook.com/beacloudgenius" target="_blank"><i class="fa fa-facebook fa-5x"></i></a>
                    </li>
                    <li class="btn-social btn-outline"><a href="http://www.instagram.com/beacloudgenius" target="_blank"><i class="fa fa-instagram fa-5x"></i></a>
                    </li>
                    <li class="btn-social btn-outline"><a href="https://www.youtube.com/channel/UCvygomQdqFv_p0c00EYufPA" target="_blank"><i class="fa fa-youtube fa-5x"></i></a>
                    </li>
                    <li class="btn-social btn-outline"><a href="http://www.twitter.com/beacloudgenius" target="_blank"><i class="fa fa-twitter fa-5x"></i></a>
                    </li>
                    <li class="btn-social btn-outline"><a href="https://plus.google.com/+NileshLondheHere/photos" target="_blank"><i class="fa fa-google-plus fa-5x"></i></a>
                    </li>
                    <li class="btn-social btn-outline"><a href="https://www.linkedin.com/edu/alumni?name=Cloud+Genius" target="_blank"><i class="fa fa-linkedin fa-5x"></i></a>
                    </li>
                    <li class="btn-social btn-outline"><a href="https://www.meetup.com/cloudgenius" target="_blank"><i class="fa fa-users fa-5x"></i></a>
                    </li>
                    </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Visit Us</h2>
                <style>
                iframe, object, embed{max-width: 100%;}
                </style>
                <iframe src="https://www.google.com/maps/d/embed?mid=zjKPzVyMj4M0.k_Sz6e-4UTD0" width="1152" height="580"></iframe>
            </div>
        </div>
        
    </div>
</p>
</section>
